body{
    background-image: url("../img/bg-pizza-dream.png");
}

i.fa.fa-chevron-left{
    font-size: 60px;
    color: white;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
}

.top img{
    height: 70px;
}

.top h1{
    margin: 0;
    font-size: 50px;
}

.orders-container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    width: 600px;
    border-radius:35px ;
    background-color: #252D32;
}

.food-container{
    height: 540px;
    width: 600px;
    border-radius:35px 35px 0px 0px ;
    background-color: #252D32;
    border: none;
    overflow: auto;
    
}

.HWN-icon{
    margin-top: 30px;
    margin-left: 80px;
}
h1.Meal{
    font-size: 25px;
    color: #ffffff;
    font-weight: 510;
    margin-top: -120px;
    margin-left: 220px;
}
h1.type{
    font-size: 20px;
    color: #ffffff;
    font-weight: 510;
    margin-top: -7px;
    margin-left: 220px;
    opacity: 50%;
}


.HWN-price{
    font-size: 20px;
    color: #ffffff;
    font-weight: 510;
    margin-top: 15px;
    margin-left: 445px;
}

.line-1{
    color: white;
    margin: auto;
    width: 450px;
    padding: 2px;
}

.flavor-type{
    font-size: 20px;
    color: #ffffff;
    font-weight: 510;
    margin-top: -7px;
    margin-left: 220px;
    opacity: 50%;
}

.promo-price{
    font-size: 20px;
    color: #ffffff;
    font-weight: 510;
    margin-top: -5px;
    margin-left: 445px;
}
.line-2{
    color: white;
    margin: auto;
    width: 550px;
    padding: 2px;
}

h1.total{
    font-size: 36px;
    color: #ffffff;
    font-weight: 510;
    margin-top: 20px;
    margin-left: 40px;
}
h1.price{
    font-size: 36px;
    color: #ffffff;
    font-weight: 510;
    margin-top: -50px;
    margin-left: 390px;
}

.btn-M-Order button{
    background-color: #D5995B;
    font-family: "Nunito";
    font-size: 48px;
    border-radius: 15px;
    color: white;
    width: 550px;
    height: 100px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    display: block;
}