body{
    background-image: url("../img/bg-feedback.jpg");
}
.img-exit{
    margin-left: 680px;
    margin-top: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}
.Feedback{
    
    font-size: 50px;
    color: #ffffff;
    font-weight: 510;
    margin-top: -10px;
    margin-left: 60px;
    font-family: "Nunito";
}
.image-container{
    height: 300px;
    width: 450px;
    border: none;
    margin-left: 160px;
 
}
.img-Emoji{
    height: 300px;
    width: 250px;
    margin-top: 10px;
    margin-left:120px;
}
#demo{
    font-size: 55px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-family: "Nunito";
    margin-top: 10px;
}
.main{
    width: 70%;
    position: relative;
    margin-top:40px;
    margin-left: 115px;  
}
#myRange{
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    outline: none;
    border-radius: 3px;
}
#myRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #314149;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 3;
    position: relative;
    border-radius: 12px;
}
#selector{
    height: 100px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 0%;
    transform: translateX(-50%);
    z-index: 4;
}


.btn-Done{
    background-color: #ffffff;
    border-radius: 22px;
    margin-top: 80px;
    margin-left: 110px;
    width: 550px;
    height: 100px;
}
#btnDone{
    
    font-family: "Nunito";
    font-size: 48px;
    color: #D5995B;
    border: none;
    background-color: #ffffff;
    font-weight:510;
    margin-top:10px;
    margin-left:190px;
}

.img-like{
    margin-top: -30px;
    margin-left:10px;
}

